.contenedor {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
}

mat-card {
  display: flex;
  background-color: ghostwhite;
  border-radius: 20px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.col-xs.link-register {
  margin-top: 10px;
}

.logo {
  width: 180px;
}
