<div class="contenedor">
    <form [formGroup]="form" (ngSubmit)="login($event)">
        <mat-card>
            <figure>
                <img class="logo" src="../../../../assets/images/platzi-store.png" alt="Platzi-store logo">
            </figure>
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="email" formControlName="email" matInput type="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="password" formControlName="password" matInput type="password">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col-xs">
                        <button [disabled]="form.invalid" mat-raised-button type="submit">Ingresar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs link-register">
                        <a routerLink="/auth/register">Sign up</a>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>